body {
    background-color: #F2F2F2;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

h1{
    padding-bottom: 10px;
}

.total-notes #cant-notes {
    color: #e62c3e;
}

.total-notes #complete-notes {
    color: #e62c3e;
}

button{
    margin-top: 12px ;
    width: 320px;
    font-size: 25px;
}

.container-app {
    padding: 20px 0px;
    margin: 0 auto;
}

.container-form{
    margin: 0 auto;
}

.container-notes{
    margin-top: 40px;
}

.txt-note {
    width: 320px;
    font-size: 25px;
    padding: 12px;
    margin: 0 auto;
    border: 2px solid #525252;
}

.boton {
    font-size: 28px;
    padding: 0px;
    margin-bottom: 25px;
    border-radius: 16px;
}

.form-check-input{
    border: #0069D9 3px solid;
}

.float-right{
    float: right;
}

btn-option{
    padding-right: 50px;
}

.note {
    margin: 0 auto;
    width: 320px;
    border-radius: 16px;
    border: 2px solid #525252;
    font-size: 25px;
    padding: 16px;
    background-color: white;
    text-align: justify;
    margin-bottom: 15px;
    background-color: #fff4c4;
}

.note button {
    width: 100px;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    font-size: 20px;
}



